body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .ordenar {
  background-color: white;
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  left: 160px;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  cursor: pointer;
}

body .ordenar h4 {
  border-bottom: 1px solid;
}

body .ordenar p:hover {
  color: #da4747;
}

body .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .contenedor #filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .contenedor #filter .clases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .contenedor #filter .clases li {
  margin: 10px;
  list-style: none;
}

body .contenedor main {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(/imagenes/main.webp);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/imagenes/main.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  min-height: 400px;
  text-align: center;
  font-size: 40px;
}

body .contenedor .contenedor-restaurantes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -40px;
}

body .contenedor .contenedor-restaurantes #restaurantes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
}

body .contenedor .contenedor-restaurantes #restaurantes div div .restaurante {
  background-color: white;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

body .contenedor .contenedor-restaurantes #restaurantes div div .restaurante img {
  width: 100%;
}

body .contenedor .contenedor-restaurantes #restaurantes div div .restaurante h3 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
}

body .contenedor .contenedor-restaurantes #restaurantes div div .restaurante div {
  font-size: 17px;
  margin-bottom: 10px;
}

body .contenedor .contenedor-restaurantes #restaurantes div div .restaurante button {
  background-color: brown;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  width: 200px;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

body .contenedor .contenedor-restaurantes #restaurantes div div .restaurante button a {
  color: white;
  text-decoration: none;
}

body .contenedor .contenedor-restaurantes #restaurantes div div .restaurante button:hover {
  background-color: #c35757;
}

body .contenedor .contenedor-restaurantes #restaurantes div div .restaurante:hover {
  -webkit-box-shadow: 0px 30px 20px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 30px 20px 5px rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=estilos.css.map */